includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 9
    paths:
        - src

    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkMissingCallableSignature: true

    exceptions:
        check:
            tooWideThrowType: true
            missingCheckedExceptionInThrows: true

    ignoreErrors:
        - '#Short ternary operator is not allowed. Use null coalesce operator if applicable or consider using long ternary.#'
